mat-form-fiedl,textarea{
    width: 100%;
}

form{
    display: grid;
    width: 80%;
    margin: 1rem auto;
}

mat-spinner{
    margin: auto;
}

input[type="file"]{
    visibility: hidden;
}

.image-preview{
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img{
    height: 100%;
}